<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.0 EJS</title>
</head>

<body>
    <h1>
        HEY! It's
        <% if (day==6 || day==0) { %>
            weekend, it's time to relax and watch anime
            <% } else { %>
                weekday, it's time to workhard!
                <% } %>

    </h1>
    <br>
    <h2>
        Hey it's
        <%= day2 %>
    </h2>
</body>

</html>